.container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.detail {
  padding: 40px;
  display: flex;
  animation: fadeIn .5s ease-in-out forwards;
}

.detail img {
  margin: 10px; /* Ajusta el valor del margen según el espaciado deseado */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  .detail__info{
    width: 100%;
    height: 600px;
    img{
      height: 100%;
      object-fit: contain;
    }
  }
  .detail__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;}

  .detail__info-title {
      font-size: 2.5rem;
      color: rgb(74, 74, 74);
      font-weight: bold;
  }

  .detail__info-description {
      font-size: 1.5rem;
      width: 100%;
      text-align: start;
  }

  .detail__info-price  {
      font-size: 2.40rem;
      color: rgb(0, 0, 0);
      font-weight: bold;
  }

  .detail__info-stock {
      color: rgb(41, 206, 124);
      font-size: 1.4rem;
      font-style: italic;
      font-weight: 500;
  }

