.item-count{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: max-content;
    align-items: center;
}
.item-count__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .item-count__buttons button {
    background: #737373;
    padding: 8px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    border: none; /* Eliminar el borde para que tenga una apariencia más limpia */
    border-radius: 50%; /* Usar un radio del 50% para que el botón sea redondo */
    color: white;
    cursor: pointer; /* Mostrar el cursor de la mano cuando se pasa sobre el botón */
  }
  
  .item-count__buttons span {
    font-size: 20px;
    width: 25px;
  }
  
  .item-count__add {
    padding: 12px 64px; /* Aumentar el padding para dar más espacio interno al botón */
    background: #646cff;
    border: none; /* Eliminar el borde para que tenga una apariencia más limpia */
    border-radius: 8px;
    color: white;
    font-size: 18px; /* Aumentar el tamaño de fuente para hacerlo más visible */
    cursor: pointer; /* Mostrar el cursor de la mano cuando se pasa sobre el botón */
    transition: background-color 0.3s ease; /* Agregar una transición suave al color de fondo */
    max-width: 300px;
  }
  
  /* Cambiar el color del botón cuando está deshabilitado */
  .item-count__add:disabled {
    background: #a0a0a0;
    cursor: not-allowed; /* Mostrar el cursor de no permitido cuando el botón está deshabilitado */
  }
  
  /* Cambiar el color del botón cuando se pasa el cursor sobre él */
  .item-count__add:hover {
    background: #2f2f90;
  }
  